h1{
    color: tomato
}
.header{
    background-color: orange  ;
display:flex ;
justify-content : space-between;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: 
    space-between;
}
.body{
    border: dashed;
    background-color: red;
}
.rows {
    display: flex;
    flex-direction:rows;
    flex-basis: 100%;
    flex: 1;
  }
  *{
      border: solid;
  }